<!DOCTYPE HTML>
<html>

<head>
    <title>广告位</title>
    <meta charset="UTF -8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="static/css/main.css"/>
    <link rel="stylesheet" href="static/css/paginate.css"/>
</head>
<body>
    <section id="four" class="wrapper style3 special">
        <div class="container">
            <header class="major">
                <h2>You want to contact us?</h2>
            </header>
            <form name="advertisement" method="POST" action="#">
                <div class="row uniform 50%">
                    <div class="4u 12u$(xsmall)">
                        <input type="text" name="name" value="name" placeholder="Name"/>
                    </div>
                    <div class="4u$ 12u$(xsmall)">
                        <input type="email" name="email" value="email" placeholder="Email"/>
                    </div>
                    <div class="4u$ 12u$(xsmall)" style="clear:none;">
                        <input type="submit" value="tel" class="Tel"/>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>